<form action="" id="createForm" method="POST">
  <label for="fname">Title:</label><br>
  <input type="text" id="title" name="title" value="title"><br>
  <label for="lname">Snippet:</label><br>
  <textarea id="snippet" name="snippet" rows="10" cols="50">
  </textarea><br><br>
  <input type="submit" value="Add" class="btn">
</form> 