 <div id="welcomeTextContainer">
        <div id="welcomeText" class="welcomeText">Welcom To Code Snippet</div>
        <div id="menuContainer">
            <a href="/" class="btn">Home</a>
            {{#if user}}
            <a href="/logout" class="btn">Log out</a>
            <a href={{user}} class="btn">My Page</a>
            {{/if}}
            {{#unless user}}
            <a href="/login" class="btn">Log in</a>
            <a href="/register" class="btn">Register</a>
            {{/unless}}
        </div>
</div>
<div id="buttonContainer">
    <a href="/list" class="btn">View Code Snippets</a>
</div>