<div id="welcomeTextContainer">
        <div id="welcomeText" class="welcomeText">Welcom To Code Snippet</div>
        <div id="menuContainer">
            <a href="/" class="btn">Home</a>
            {{#if user}}
            <a href="/login" class="btn">Log out</a>
            {{/if}}
            {{#unless user}}
            <a href="/login" class="btn">Log in</a>
            <a href="/register" class="btn">Register</a>
            {{/unless}}
        </div>
</div>

<table>
   <thead>
    <tr>
            <th>Title</th>
            <th>Snippet</th>
    </tr>
    
   <thead>
   {{#if viewData.snippets.length }}
   {{#each viewData.snippets}}
   <tbody>
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.content}}</td>
        </tr>
   </tbody>
   {{/each}}
  {{/if}}
  
</table>
  