<div id="welcomeTextContainer">
        <div id="welcomeText" class="welcomeText">Welcom To Code Snippet</div>
        <div id="menuContainer">
            <a href="/" class="btn">Home</a>
            <a href="/register" class="btn">Register</a>
        </div>
</div>
{{#if flash}}
<p style="padding: 1em; background-color: #ccf">{{ flash }}</p>
{{/if}}
<form action="" id="createForm" method="POST">
  <label for="fname">Username:</label><br>
  <input type="text" id="Username" name="username" value="Username"><br>
  <label for="lname">Password:</label><br>
  <input type="text" id="Password" name="password" value="Password"><br><br><br>
  <input type="submit" value="Login" class="btn">
</form> 