<div id="welcomeTextContainer">
        <div id="welcomeText" class="welcomeText">Welcom To Code Snippet</div>
        <div id="menuContainer">
            <a href="/" class="btn">Home</a>
            <a href="/logout" class="btn">Log out</a>
        </div>
</div>
{{#if flash}}
<p style="padding: 1em; background-color: #ccf">{{ flash }}</p>
{{/if}}

<div id="create">
    <a href="/create" class="btn">Create Snippet</a>
</div>

<table>
   <thead>
    <tr>
            <th>Title</th>
            <th>Snippet</th>
    </tr>
    
   <thead>
   {{#if viewData.snippets.length }}
   {{#each viewData.snippets}}
   <tbody>
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.content}}<a href="/delete/{{this.id}}" class="delete" id="delete">delete</a><a href="#" class="update" id="update">update</a></td>
        </tr>
   </tbody>
   {{/each}}
  {{/if}}
  
</table>