<form action="" id="createForm" method="POST">
  <label for="fname">Username:</label><br>
  <input type="text" id="Username" name="username" value="Username"><br>
  <label for="lname">Password:</label><br>
  <input type="text" id="Password" name="password" value="Password"><br><br><br>
  <input type="submit" value="Register" class="btn">
</form> 